<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico')}}" type="image/x-icon">

    <meta property="og:title" content="Lapor LearningX" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ url_for('static', filename='img/bg-blue.png')}}" />
    <link rel="shortcut icon" href="{{url_for('static', filename='img/lx.png')}}" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <title>Analisis | LearningX</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <div class="bg-blur" style="height: 100vh;">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <div class="container py-2 card flex-row px-3">
                    <a class="navbar-brand" href="/">
                        <img src="{{ url_for('static', filename='img/learningx.png') }}" alt="LearningX" width="100">
                    </a>

                    <div class="nav1 " style="font-size: 10pt;">
                        <a href="/dashboard" class="px-2" style="text-decoration: none;color: inherit;">Home</a>
                        <a href="/analisis" class="px-2" style="text-decoration: none;color: inherit;">Analisis</a>
                        <a href="/signout" class="px-2" style="text-decoration: none;color: inherit;">Sign Out</a>
                    </div>
                </div>
            </nav>

            <div class="row d-flex justify-content-between">
                <div class="col-7">
                    <div class="card list-group bg-blue">
                        <div class="card-body bg-blue" style="border-radius: 20px;color: white;">
                            Jumlah Data
                        </div>
                        <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            <p>Jumlah Laporan</p>
                            <span class="fs-5">53</span>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            <p>Laporan Tertangani</p>
                            <span class="fs-5">34</span>
                            
                        </a>
                        <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            <p>Laporan Belum Tertangani</p>
                            <span class="fs-5">14</span>
                            
                        </a>
                    </div>
                </div>
                <div class="col-5">
                    <div class="row mb-3 ">

                        <div class="col">
                            <div class="card bg-blue" style="color: white;">
                                <div class="card-body">
                                    <figure>
                                        <blockquote class="blockquote">
                                            <p>Media</p>
                                        </blockquote>
                                        <p class="fs-1 ">13</p>
                                    </figure>
                                </div>

                            </div>
                        </div>

                        <div class="col">
                            <div class="card bg-blue" style="color: white;">

                                <div class="card-body">
                                    <figure>
                                        <blockquote class="blockquote">
                                            <p>Server</p>
                                        </blockquote>
                                        <p class="fs-1 ">23</p>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col">
                            <div class="card bg-blue" style="color: white;">

                                <div class="card-body">
                                    <figure>
                                        <blockquote class="blockquote">
                                            <p>Pembayaran</p>
                                        </blockquote>
                                        <p class="fs-1 ">14</p>
                                    </figure>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card bg-blue" style="color: white;">

                                <div class="card-body">
                                    <figure>
                                        <blockquote class="blockquote">
                                            <p>Mentor</p>
                                        </blockquote>
                                        <p class="fs-1 ">2</p>
                                    </figure>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-14 mt-3">
                        <div class="card list-group bg-blue">
                            <div class="card-body bg-blue" style="border-radius: 20px;color: white;">
                                Analisis
                            </div>
                            <a href="#" class="list-group-item list-group-item-action">Analis Bulanan</a>
                            <a href="#" class="list-group-item list-group-item-action">Preview</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>