{% extends 'componens/head.html' %}
{% block body %}

<div class="row" style="height: 100vh;max-width: 100%;">
    <div class="col-2">
        <div class="card  h-100">
            <div class="card-body">
                <div class="p-3" style="border-left: 2px solid rgb(255, 95, 95);font-size: 10pt;">
                    <img class="mb-4" src="{{ url_for('static', filename='imgs/learningx.png')}}" alt="LearningX"
                        width="100">
                    <p class="fs-6 fw-semibold">Menu</p>
                    <hr>
                    <div style="list-style: none;">
                        <li><a class="b-link-inherit {% if page == 'Dashboard' %}fw-bold bg-lx{% endif %}"
                                href="{{ url_for('dashboard', key=key) }}">Dashboard</a></li>
                        <br>
                        <li><a class="b-link-inherit {% if page == 'Analisis' %}fw-bold bg-lx{% endif %}"
                                href="{{ url_for('analisis', key=key) }}">Analisis</a></li>
                        <br>
                        <hr>
                        <li><a class="b-link-inherit" href="/logout">Sign Out</a></li>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        {% include 'componens/content-d.html' %}
    </div>
</div>
<div class="col">
    <div class="card h-100" id="detail-data">
        {% include 'componens/db_temp/card-laporan.html' %}
    </div>
</div>


{% endblock %}