{% extends 'componens/head.html' %}
{% block body %}

<script>
    $(document).ready(function () {
        $("#search-input").on("keyup", function () {
            var searchTerm = $(this).val().toLowerCase();
            $("#data-table tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(searchTerm) > -1);
            });
        });

        $("#search-input").on("keyup", function () {
            var searchTerm = $(this).val().toLowerCase();
            $("#data-table tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(searchTerm) > -1);
            });
        });
        $('.f-d').on('click', function (e) {
            e.preventDefault();
            const filterType = $(this).data('filter-type');
            const filterValue = $(this).data('filter-value');
            filterData(filterType, filterValue);
        });

        function filterData(filterType, filterValue) {
            $('#data-table tbody tr').hide();

            if (filterType === 'status' && filterValue !== 'all') {
                $(`#data-table tbody tr td:nth-child(5) div[status="${filterValue}"]`).each(function () {
                    $(this).closest('tr').show();
                });
            } else if (filterType === 'jenis' && filterValue !== 'all') {
                $(`#data-table tbody tr td[jenis="${filterValue}"]`).each(function () {
                    $(this).closest('tr').show();
                });
            } else if (filterType === 'all') {
                $('#data-table tbody tr').show();
            }
        }
        $(".data-item").click(function () {
            var id_person = $(this).data("id");

            $.ajax({
                url: "/get_data/<key>/" + id_person,
                type: "GET",
                dataType: "html",
                success: function (htmlData) {

                    $("#detail-data").html(htmlData);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    });
</script>
<div class="d-flex justify-content-center">
    <div class="row " style="height: 100vh;width: 100%;">
        <div class="co col-sm-2">
            <div class="card h-100" >
                <div class="card-body">
                    <div class="p-3" style="border-left: 2px solid rgb(255, 95, 95);font-size: 10pt;">
                        <div class="c-1">
                            <img class="mb-4" src="{{ url_for('static', filename='imgs/learningx.png')}}"
                                alt="LearningX" width="100">
                            <p class="fs-6 fw-semibold" class="navbar-toggler" data-bs-toggle="collapse"
                                data-bs-target="#c-nav" aria-expanded="false" style="cursor: pointer;">Menu</p>
                        </div>

                        <hr>
                        <div style="list-style: none;" class="collapse" id="c-nav">
                            <li><a class="b-link-inherit {% if page == 'Dashboard' %}fw-bold bg-lx{% endif %}"
                                    href="{{ url_for('dashboard', key=key) }}">Dashboard</a></li>
                            <br>
                            <li><a class="b-link-inherit {% if page == 'Analisis' %}fw-bold bg-lx{% endif %}"
                                    href="{{ url_for('analisis', key=key) }}">Analisis</a></li>
                            <br>
                            <hr>
                            <li><a class="b-link-inherit" href="/logout">Sign Out</a></li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-1 col-sm-6">

            {% include 'componens/content-d.html' %}

        </div>

        <div class="col">
            <div class="card h-100">
                <div class="card-body" style="font-size: 10pt;" id="detail-data">
                    {% include 'componens/db_temp/card-laporan.html' %}
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}