<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico')}}" type="image/x-icon">

    <meta property="og:title" content="Lapor LearningX" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ url_for('static', filename='img/bg-blue.png')}}" />
    <link rel="shortcut icon" href="{{url_for('static', filename='img/lx.png')}}" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title>Home | LearningX</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <script>
        $(document).ready(function () {
            $("#search-input").on("keyup", function () {
                var searchTerm = $(this).val().toLowerCase();
                $("#data-table tbody tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(searchTerm) > -1);
                });
            });
            
        });
        
    </script>

</head>

<body>
    <div class="bg-blur">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <div class="container py-2 card flex-row px-3">
                    <a class="navbar-brand" href="/">
                        <img src="{{ url_for('static', filename='img/learningx.png') }}" alt="LearningX" width="100">
                    </a>

                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="font-size: 10pt;" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Menu
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" style="font-size: 10pt;border: none;border-radius: 10px;">
                            <li><a class="dropdown-item" href="{{ url_for('dashboard', key=key) }}">Home</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('analisis', key=key) }}">Analisis</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/logout">Sign Out</a></li>
                        </ul>

                    </div>

                </div>
            </nav>

            <div class="c-data container">
                <div class="row">
                    <div class="col-8">
                        <div class="card">
                            <div class="card-body ">
                                <div class="d-flex justify-content-between">
                                    <p style="font-size: 10pt;">List Data Laporan</p>
                                    
                                </div>

                                <div style="height: 30px;">
                                    <form class="d-flex" role="search" id="search-l">
                                        <input class="form-control" type="text" placeholder="Search"
                                            aria-label="Search" id="search-input">
                                        <button type="button" class="btn btn-secondary"
                                            style="border-radius: 10px;"><svg xmlns="http://www.w3.org/2000/svg"
                                                width="16" height="16" fill="currentColor" class="bi bi-search"
                                                viewBox="0 0 16 16">
                                                <path
                                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                            </svg></button>
                                    </form>
                                </div>
                            </div>

                        </div>
                        <div class="card mt-3" style="height: 66vh;">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div style="max-height: 60vh; overflow-y: auto;">
                                            <table class="table table-hover" id="data-table">
                                                <thead style="position: sticky;top: 0;">
                                                    <tr>
                                                        <th>No</th>
                                                        <th>Nama</th>
                                                        <th>Kontak</th>
                                                        <th>Jenis Keluhan</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody style="font-size: 10pt;">
                                                    {% for laporan in data %}
                                                    <tr>
                                                        <td>{{ loop.index }}</td>
                                                        <td>{{ laporan.nama }}</td>
                                                        <td>{{ laporan.no_wa }} | {{ laporan.id_discord }}</td>
                                                        <td>{{ laporan.jenis_l }}</td>
                                                        <td><a href="{{ url_for('get_data', key=key, key_person=laporan.id_person) }}"
                                                                style="color: inherit;text-decoration: none;">
                                                                {% if laporan.status == 'Belum' %}
                                                                <div selectedStatus="belum"
                                                                    style="color: rgb(235, 84, 84);">
                                                                    Belum <svg xmlns="http://www.w3.org/2000/svg"
                                                                        width="16" height="16" fill="currentColor"
                                                                        class="bi bi-arrow-right" viewBox="0 0 16 16">
                                                                        <path fill-rule="evenodd"
                                                                            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                                                                    </svg>
                                                                </div>
                                                                {% else %}
                                                                <div selectedStatus="sudah"
                                                                    style="color: rgb(86, 207, 86);">
                                                                    Sudah <svg xmlns="http://www.w3.org/2000/svg"
                                                                        width="16" height="16" fill="currentColor"
                                                                        class="bi bi-check2" viewBox="0 0 16 16">
                                                                        <path
                                                                            d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                                                    </svg>
                                                                </div>
                                                                {% endif %}
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    
                                                    {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card bg-blue" style="color: white;">
                            <div class="card-body">
                                {% if selected_laporan %}
                                <img src="{{ url_for('static', filename='img/lampiran/' + selected_laporan.lampiran) }}"
                                    class="card-img-top"
                                    style="border-radius:20px;object-fit: cover;object-position: center;" width="120"
                                    height="200">
                                <div class="card-body">

                                    <figure>

                                        <figcaption class="blockquote-footer" style="color: white;">
                                            {{ selected_laporan.jenis_l }}
                                        </figcaption>
                                        <blockquote class="blockquote">
                                            <p style="font-size: 8pt;">{{ selected_laporan.laporan }}</p>
                                        </blockquote>
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <p class="lh-1" style="font-size: 14pt;">{{ selected_laporan.nama }}</p>
                                                <figcaption class="blockquote-footer"
                                                    style="font-size: 10pt; color: white;">
                                                    {{ selected_laporan.no_wa }} | {{ selected_laporan.id_discord }}
                                                </figcaption>
                                                <p class="lh-1" style="font-size: 10pt;"></p>
                                            </div>
                                            <div>
                                                {% if selected_laporan.status == 'Belum' %}
                                                <form method="POST"
                                                    action="{{ url_for('update_status', key_person=selected_laporan.id_person) }}">
                                                    <button type="submit" class="btn  btn-light"><svg
                                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                            fill="currentColor" class="bi bi-check2"
                                                            viewBox="0 0 16 16">
                                                            <path
                                                                d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                                        </svg></button>
                                                </form>
                                                {% else %}

                                                {% endif %}

                                            </div>


                                        </div>
                                        <div class="date">
                                            <p style="font-size: 7pt;">{{ selected_laporan.tanggal }}</p>
                                        </div>
                                    </figure>

                                </div>
                                {% endif %}
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</body>

</html>