{% extends 'temp/index.html' %}

{% block body %}
<script>
    var messages = {{ get_flashed_messages() | tojson | safe
    }};

    if (messages.length > 0) {
        alert(messages.join('\n'));
    };
</script>
<div class="container-fluid">
<div class="row bg-blur" style="height:100vh;">
    <div class="col">
        <div class="p-3 d-flex flex-column justify-content-around h-75">
            <a href="/" > <img class="mb-3"
                    src="{{ url_for('static', filename='assets/imgs/learningx.png') }}" alt="LearningX" width="100"></a>
            <div class="im-1">
                <p class="mb-3 fs-3 fw-semibold">LearningX Service Center</p>
                <p class="fw-semibold" style="width: 256px;font-size: 10pt;">Hello Admin, ada laporan yang perlu
                    anda tangani. Silahkan
                    Sign
                    In.</p>
            </div>

            <div class="im1">
                <img style="float: right;" src="{{ url_for('static', filename='assets/imgs/i-1.png')}}" alt="Illust1"
                    width="380">
            </div>
            <div>
                <div class=" h-100 d-flex justify-content-center align-items-center ">
                    <div class="form-login1">
                        <div class=" card-header py-4 fs-6 fw-bold" style="border-radius: 20px;">
                            <img src="{{ url_for('static', filename='assets/imgs/lx.png')}}" alt="LX" width="20">
                            Sign In
                        </div>
                        <div class="card p-4" style="box-shadow: none;">
                            <form action="/login/auth" method="post" class="p-2" enctype="multipart/form-data">

                                <div class="input-group mb-4">
                                    <input
                                        style="border-radius: 0;background: transparent;border:none;border-bottom:1px solid;"
                                        type="text" class="form-control" placeholder="Username" name="username" required>
                                </div>
                                <div class="input-group mb-4">
                                    <input
                                        style="border-radius: 0;background: transparent;border:none;border-bottom:1px solid;"
                                        type="password" class="form-control" placeholder="Password" name="password" required>
                                </div>
                                <p style="font-size: 7pt;">*Pastikan anda memiliki akses.</p>
                                <button type="submit" class="btn btn-lx py-1 px-3 w-100"
                                    style="font-size: 10pt;">Sign
                                    In</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>

    <div class="col form-login2 bg-blue">
        <div class="h-100 d-flex justify-content-center align-items-center">
            <div class="" style="background: transparent;">
                <div class="card-header py-4 fs-6 fw-bold" style="border-radius: 20px;color: white;">
                    <img src="{{ url_for('static', filename='assets/imgs/lx.png')}}" alt="LX" width="20">
                    Sign In
                </div>
                <div class="card p-4" style="box-shadow: none;">
                    <form action="/login/auth" method="post" class="p-2" enctype="multipart/form-data">

                        <div class="input-group mb-4">
                            <input style="border-radius: 0;background: transparent;border:none;border-bottom:1px solid;"
                                type="text" class="form-control" placeholder="Username" name="username" required>
                        </div>
                        <div class="input-group mb-4">
                            <input style="border-radius: 0;background: transparent;border:none;border-bottom:1px solid;"
                                type="password" class="form-control" placeholder="Password" name="password" required>
                        </div>
                        <p style="font-size: 7pt;">*Pastikan anda memiliki akses.</p>
                        <button type="submit" class="btn btn-lx py-1 px-3 w-100" style="font-size: 10pt;">Sign
                            In</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
</div>

{% endblock %}