* {
    padding: 0;
    margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.card {
    border: none;
    border-radius: 20px;
}


.bg {
    background-image: url('assets/imgs/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-blue {
    background-image: url('assets/imgs/bg-blue.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-green {
    background-image: url('assets/imgs/bg-green.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-blur:before {
    content: "";
    background-image: url('assets/imgs/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(8px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.btn-lx {
    background-color: transparent;
    border: 1px solid red;
    border-radius: 20px;
}

.btn-lx:hover {
    background-color: red;
    color: white;
}

.form-control {
    border-radius: 20px;
    font-size: 10pt;
    outline: none;
}

.nav-lx {
    font-size: 12pt;
    color: red;
}

.active-page {
    background-color: red;
}

.nav-link-page:hover {
    background-color: rgb(229, 229, 229);
}

.content::-webkit-scrollbar-track {
    background-color: #fff1f1;
    margin: 10px 0 10px 0;
}

.content::-webkit-scrollbar {
    width: 7px;
}

.content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(194, 194, 194);
}

.nav-h {
    height: 10%;
}
@media only screen and (max-width: 768px) {

    .sidebars {
        position: absolute;
    }

    .nav-h {
        height: 8%;
    }

}

.animate__animated {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.animation {
    opacity: 1;
}

.f-d {
  font-size: 8pt;
}
#search-input::placeholder {
        color: white;
    }

