* {
    padding: 0;
    margin: 0;
}

/* body {} */

.card {
    border: none;
    border-radius: 20px;
}


.bg {
    background-image: url('assets/imgs/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-blue {
    background-image: url('assets/imgs/bg-blue.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-green {
    background-image: url('assets/imgs/bg-green.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-blur:before {
    content: "";
    background-image: url('assets/imgs/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(8px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.btn-lx {
    background-color: transparent;
    border: 1px solid red;
    border-radius: 20px;
}

.btn-lx:hover {
    background-color: red;
    color: white;
}

.testy::-webkit-scrollbar {
    border-radius: 10px;
}

.form-control {
    border-radius: 20px;
    font-size: 10pt;
    outline: none;
}

.form-login1 {
    display: none;
}

.l-sm {
    display: none;
}

@media only screen and (max-width: 768px) {

    .form-login2,
    .im1, .l-lg {
        display: none;
    }

    .form-login1, .l-sm {
        display: block;
    }

    .c-s {
        height: 25% !important;

    }

    .c-1 {
        justify-content: start;
    }

}

.nav-lx {
    font-size: 12pt;
    color: red;
}

.active-page {
    background-color: red;
}

.nav-link-page:hover {
    background-color: rgb(229, 229, 229);
}

.content::-webkit-scrollbar-track {
    background-color: #fff1f1;
    margin: 8px 0 8px 0;
}

.content::-webkit-scrollbar {
    width: 12px;
}

.content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: grey;
}

@media only screen and (max-width: 720px) {
    .sidebars {
        position: absolute;
    }
}
