{% extends 'componens/head.html' %}
{% block body %}
<script>

    $(document).ready(function () {
        var messages = {{ get_flashed_messages() | tojson | safe
    }};
    if (messages.length > 0) {
        alert(messages.join('\n'));
    };

    $("#laporan-form").submit(function (e) {
        var nama = $("[name=nama]").val();
        var noWa = $("[name=no-wa]").val();
        var idDiscord = $("[name=id-discord]").val();
        var jenisL = $("[name=jenis-l]").val();
        var laporan = $("[name=laporan]").val();

        if (!nama || !noWa || !idDiscord || !jenisL || !laporan) {
            e.preventDefault();
            alert('Semua kolom harus diisi.');
        }
    });
    });
    if (performance.navigation.type === 1) {
        window.location.href = '/laporan';
    }
</script>
<div class="bg" style="height: 30vh;background-position: bottom;">
    <div class="container">
        {% include 'componens/navbar.html' %}

        <div class="forms container-fluid ">
            <div class="d-flex justify-content-center align-items-center">
                <div class="card">
                    <div class="card-header p-4 bg-blue" style="border-radius: 20px;color: white;">
                        <div class="col">
                            <div class="d-flex  justify-content-between">
                                <span class="fs-5 fw-bold">Buat Laporan</span>
                                <a href="{{ url_for('static', filename='imgs/bg.png')}}" target="_blank" class="card p-2 px-4">
                                    <span style="font-size: 10pt;">Langkah Penggunaan</span>
                                </a>
                            </div>

                        </div>

                        {% if kode_akses %}

                        <div id="access-code-container">

                            <p class="fs-6">Kode Akses kamu:</p>
                            <p class="fs-4" id="access-code">{{ kode_akses }}</p>
                            <p style="font-size: 10pt;color: rgb(255, 255, 255);">*Salin kode akses tersebut untuk pengecekan lebih lanjut tentang laporanmu. See yaa.</p>
                        </div>

                        {% endif %}

                    </div>
                    <div class="card-body">
                        <form action="/submit" method="post" class="p-2" id="laporan-form"
                            enctype="multipart/form-data">
                            

                            <div class="input-group mb-4">
                                <input type="text" class="form-control" placeholder="Nama Lengkap" name="nama">
                            </div>

                            <div class="input-group mb-4">
                                <input type="text" class="form-control" placeholder="No WhatsApp" name="no-wa">
                                <span class="input-group-text">#</span>
                                <input type="text" class="form-control" placeholder="Id Discord" name="id-discord">
                            </div>

                            <div class="input-group mb-4">
                                <input type="file" class="form-control" name="lampiran">
                                <label class="input-group-text" style="font-size: 10pt;">Lampiran</label>
                            </div>

                            <div class="input-group mb-4">

                                <select class="form-select" name="jenis-l" style="font-size: 10pt;">
                                    <option value="Media">Media</option>
                                    <option value="Text">Text</option>
                                    <option value="Foto">Foto</option>
                                    <option value="Video">Video</option>
                                    <option value="Server">Server</option>
                                    <option value="Pembayaran">Pembayaran</option>
                                    <option value="Teknis atau Mentor">Teknis atau Mentor</option>

                                </select>
                                <label class="input-group-text" style="font-size: 10pt;">Jenis Laporan</label>
                            </div>

                            <div class="input-group mb-4">
                                <textarea class="form-control" placeholder="Laporan" name="laporan" rows="4"
                                    cols="50"></textarea>
                            </div>

                            <button type="submit" class="btn px-4 btn-outline-lx" value="submit"
                                style="float: right;font-size: 10pt;">Kirim</button>

                        </form>

                    </div>

                </div>
            </div>

        </div>

    </div>

    <div class="p-3 container my-4 d-flex justify-content-center">
        <img style="height: auto;" src="{{ url_for('static', filename='imgs/process.png') }}" alt="" width="380">
    </div>
    {% include 'componens/footer.html' %}
</div>
{% endblock %}