{% extends 'temp/index.html' %}

{% block body %}

<div class="container-fluid">
    <div class="row" style="height: 100vh;">
        <div class="col-md-2">
            <div class="card" style="position: sticky;top: 0;">
                <div class="card-body">
                    <nav class="navbar navbar-expand-lg">
                        <img class="l-sm" src="{{ url_for('static', filename='assets/imgs/learningx.png')}}"
                            width="120">
                        <button class="card navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" fill="currentColor" class="bi bi-list"
                                viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                            </svg>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarNav">

                            <ul class="navbar-nav flex-column">
                                <img class="l-lg" src="{{ url_for('static', filename='assets/imgs/learningx.png')}}"
                                    width="120">
                                <br>
                                <div class="ps-3" style="border-left: 2px solid red;">
                                    <li class="nav-item">
                                        <a style="font-size: 10pt;"
                                            class="nav-link {% if page == 'Dashboard' %} nav-lx {% endif %}"
                                            href="{{ url_for('main.dashboard', key=key) }}">Dashboard</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link {% if page == 'Analisis' %} nav-lx {% endif %}"
                                            href="{{ url_for('main.analisis', key=key) }}">Analisis</a>
                                    </li>
                                    <hr>
                                    <li class="nav-item">
                                        <a style="font-size: 10pt;" class="nav-link" href="/logout">Log Out</a>
                                    </li>
                                </div>

                            </ul>
                        </div>
                    </nav>

                </div>
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="card p-2 " style="border-top: 2px solid red;">
                <p class="p-2">Data Statistik</p>
                <br>
                <div class="row">
                    <div class="col-md-3 mb-2">
                        <div class="card bg-blue text-white">
                            <div class="card-body">
                                <p style="font-size: 11pt;">Laporan</p>
                                <hr>
                                <span class="fs-5">{{ total_d }}</span>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-2">
                        <div class="card bg-blue text-white">
                            <div class="card-body">
                                <p style="font-size: 11pt;">Tertangani</p>
                                <hr>
                                <span class="fs-5">{{ t_sudah }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-2">
                        <div class="card bg-blue text-white">
                            <div class="card-body">
                                <p style="font-size: 11pt;">Prosess</p>
                                <hr>
                                <span class="fs-5">{{ t_belum }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-2">
                        <div class="card bg-blue text-white">
                            <div class="card-body">
                                <p style="font-size: 11pt;">Mentor/Teknisi</p>
                                <hr>
                                <span class="fs-5">20</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card my-3 h-50">
                <div class="card-body">
                    <p class="p-2">Jenis Laporan</p>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-blue h-100">
                <div class="card-body" style="font-size: 10pt;">
                    <div class="card">
                        <div class="card-body">
                            <span class="p-2 fw-semibold">Preview Laporan</span>
                        </div>
                    </div>
                    <div class="row p-3" style="max-height: 85vh; overflow-y: auto;">
                        {% for i in data %}
                        <div class="col-md-6 p-1" >
                            <img style="border: 1px solid white;" src="{{ url_for('static', filename='lampiran/' + i.lampiran) }}"
                                class="rounded-4 img-fluid">
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="position-relative">

                </div>
                <!-- 
                     -->

            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}