{% if selected_laporan %}
<div>
  <div class="card d-flex flex-column">
    <img  class="object-fit-cover rounded-4"
        src="{{ url_for('static', filename='lampiran/' + selected_laporan.lampiran) }}" alt="" height="200">
    <button data-bs-toggle="modal" data-bs-target="#img-lampiran" style="font-size: 10pt;" type="button" class="btn btn-success my-1 rounded-4">Review Lampiran</button>

    <div class="modal fade " id="img-lampiran" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog border-0 rounded-4" role="document">
            <div class="modal-content">
                <div class="modal-header bg-blue text-white">
                    <h1 class="modal-title fs-6" id="exampleModalLabel">Review Lampiran</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                <div class="modal-body">
                    <img class="img-fluid rounded-4" src="{{ url_for('static', filename='lampiran/' + selected_laporan.lampiran) }}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="px-2">
    <span style="font-size: 10pt;">Jenis : {{ selected_laporan.jenis_l }}</span>
    <span style="font-size: 8pt;float: right;">{{ selected_laporan.tanggal }}</span>
</div>
<div class="card px-2 my-2">
    <div class="card-body fw-semibold">
        <p style="font-size: 8pt;">Laporan </p>
        <p class="px-2" style="font-size: 8pt;border-left: 2px solid red;">{{ selected_laporan.laporan }}</p>
    </div>
</div>
{% if selected_laporan.feedback %}
<div class="card shadow px-2 my-2">
    <div class="card-body fw-semibold">
        <p style="font-size: 8pt;">Feedback </p>
        <p class="px-2" style="font-size: 8pt;border-left: 2px solid green;">{{ selected_laporan.feedback }}</p>
    </div>
</div>
{% endif %}
<div class="d-flex justify-content-between">
    <div class="px-2 d-flex flex-column">
        <span style="font-size: 11pt;">{{ selected_laporan.nama}} </span>
        <span class="px-2" style="font-size: 8pt;">{{ selected_laporan.no_wa }} | {{ selected_laporan.id_discord
            }}</span>
    </div>

    {% if selected_laporan.status == 'Belum' %}
    <div>
        <button type="button" class="btn float-end btn-success me-2 rounded-5" data-bs-toggle="modal"
            data-bs-target="#alertModal">
            <i class="fa-regular fa-circle-check fa-lg"></i>
        </button>

        <div class=" modal fade" id="alertModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="rounded-4 p-2 modal-content">
                    <div class="modal-header border-0 bg-blue rounded-4 text-white">
                        <h1 class="modal-title fs-6" id="exampleModalLabel">Berikan Feedback</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="POST"
                            action="{{ url_for('auth.update_status', id_person=selected_laporan.id_person) }}">
                            <div class="mb-3">
                                <label for="nama-teknisi" class="col-form-label">Nama Teknisi:</label>
                                <input type="text" class="form-control" id="nama-teknisi" name="nama-teknisi" required>
                            </div>
                            <div class="mb-3">
                                <label for="feedback" class="col-form-label">Feedback:</label>
                                <textarea class="form-control" name="feedback" id="feedback" rows="4" cols="50"
                                    required></textarea>
                            </div>
                            <div class="buttons">
                                <button style="font-size: 10pt;" type="submit" value="submit"
                                    class="btn btn-success float-end px-4 py-1 rounded-5">Kirim</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {% else %}
    {% endif %}
</div>
</div>



{% endif %}