
    <div class="row m-2">
        <div class="col ">
            <div class=" card p-2 shadow">
                <p class="p-2 fw-semibold ">Data Statistik</p>
                <hr>
                <div class="row">
                    <div class="col-md-3 mb-2">
                        <div class="card bg-blue text-white">
                            <div class="card-body">
                                <p style="font-size: 11pt;">Laporan</p>
                                <hr>
                                <span class="fs-5">{{ total_d }}</span>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-2">
                        <div class="card bg-blue text-white">
                            <div class="card-body">
                                <p style="font-size: 11pt;">Tertangani</p>
                                <hr>
                                <span class="fs-5">{{ t_sudah }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-2">
                        <div class="card bg-blue text-white">
                            <div class="card-body">
                                <p style="font-size: 11pt;">Prosess</p>
                                <hr>
                                <span class="fs-5">{{ t_belum }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-2">
                        <div class="card bg-blue text-white">
                            <div class="card-body">
                                <p style="font-size: 11pt;">Mentor/Teknisi</p>
                                <hr>
                                <span class="fs-5">20</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card my-3 shadow " >
                <div class="content card-body ">
                    <p class="p-2 fw-semibold">Preview Laporan</p>
                    <hr>
                    <div class="row p-3 content" style="max-height: 40vh; overflow-y: auto;">
                        {% for i in data %}
                        <div class="col-md-3 d-flex p-1">
                            <img style="border: 1px solid white;"
                                src="{{ url_for('static', filename='lampiran/' + i.lampiran) }}"
                                class="rounded-4 img-fluid">
                        </div>
                        {% endfor %}
                        {% for i in data %}
                        <div class="col-md-3 d-flex p-1">
                            <img style="border: 1px solid white;"
                                src="{{ url_for('static', filename='lampiran/' + i.lampiran) }}"
                                class="rounded-4 img-fluid">
                        </div>
                        {% endfor %}
                        {% for i in data %}
                        <div class="col-md-3 d-flex p-1">
                            <img style="border: 1px solid white;"
                                src="{{ url_for('static', filename='lampiran/' + i.lampiran) }}"
                                class="rounded-4 img-fluid">
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-body" style="font-size: 10pt;">
                    <div class="card ">
                        <span class="text-center p-2 fw-semibold">Type of Report</span>
                    </div>


                    <div class="row mt-2">
                        {% if kategori %}
                        <div class="col-md-4 my-1">
                            <div class="card bg-green">
                                <div class="card-body">
                                    <h6 style="font-size: 8pt;">Media</h6>
                                    <span class="fw-semibold "
                                        style="float: right;font-size: 12pt;">{{ kategori.media
                                        }}
                                        <span style="font-size: 8pt;">Laporan</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 my-1">
                            <div class="card bg-green">
                                <div class="card-body">
                                    <h6 style="font-size: 8pt;">Text</h6>
                                    <span class="fw-semibold "
                                        style="float: right;font-size: 12pt;">{{ kategori.text
                                        }} <span style="font-size: 8pt;">Laporan</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 my-1">
                            <div class="card bg-green">
                                <div class="card-body">
                                    <h6 style="font-size: 8pt;">Foto</h6>
                                    <span class="fw-semibold"
                                        style="float: right;font-size: 12pt;">{{ kategori.foto
                                        }} <span style="font-size: 8pt;">Laporan</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 my-1">
                            <div class="card bg-green">
                                <div class="card-body">
                                    <h6 style="font-size: 8pt;">Video</h6>
                                    <span class="fw-semibold"
                                        style="float: right;font-size: 12pt;">{{ kategori.video
                                        }} <span style="font-size: 8pt;">Laporan</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 my-1">
                            <div class="card bg-green">
                                <div class="card-body">
                                    <h6 style="font-size: 8pt;">Server</h6>
                                    <span class="fw-semibold"
                                        style="float: right;font-size: 12pt;">{{
                                        kategori.server }} <span style="font-size: 8pt;">Laporan</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 my-1">
                            <div class="card bg-green">
                                <div class="card-body">
                                    <h6 style="font-size: 8pt;">Pembayaran</h6>
                                    <span class="fw-semibold"
                                        style="float: right;font-size: 12pt;">{{
                                        kategori.pembayaran }} <span style="font-size: 8pt;">Laporan</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 my-1">
                            <div class="card bg-green">
                                <div class="card-body">
                                    <h6 style="font-size: 8pt;">Teknis</h6>
                                    <span class=" fw-semibold "
                                        style="float: right;font-size: 12pt;">{{
                                        kategori.teknis }} <span style="font-size: 8pt;">Laporan</span></span>
                                </div>
                            </div>
                        </div>

                        {% endif %}
                    </div>

                    <!-- <div class="row p-3" style="max-height: 85vh; overflow-y: auto;">
                        {% for i in data %}
                        <div class="col-md-6 p-1">
                            <img style="border: 1px solid white;"
                                src="{{ url_for('static', filename='lampiran/' + i.lampiran) }}"
                                class="rounded-4 img-fluid">
                        </div>
                        {% endfor %}
                    </div> -->
                </div>

            </div>
        </div>
    </div>
</div>
