<div class="row" style="max-height: 90%;">
    <div class="col" >
        <div class="sticky-md-top" style="top: 20px;" >
            <div class="card mb-2 shadow">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <p style="font-size: 10pt;">List Data Laporan</p>
                        <div class="dropdown" style="font-size: 10pt;">
                            <button class="nav-link dropdown-toggle" type="button" id="statusDropdown"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Filter
                            </button>
                            <div class="dropdown-menu dropdown-menu-end" style="font-size: 10pt;"
                                aria-labelledby="statusDropdown">
                                <a class="dropdown-item f-d" href="#" data-filter-type="all">Semua Data</a>

                                <hr class="dropdown-divider">
                                <p class="fs-6 fw-semibold ps-3">Status</p>

                                <a class="dropdown-item f-d" href="#" data-filter-type="status"
                                    data-filter-value="belum">Belum
                                    Tertangani</a>
                                <a class="dropdown-item f-d" href="#" data-filter-type="status"
                                    data-filter-value="sudah">Sudah
                                    Tertangani</a>

                                <hr class="dropdown-divider">
                                <p class="fs-6 fw-semibold ps-3">Kategori</p>
                                <div class="row">
                                    <div class="col">
                                        <a class="dropdown-item f-d" href="#" data-filter-type="jenis"
                                            data-filter-value="Media">Media</a>
                                        <a class="dropdown-item f-d" href="#" data-filter-type="jenis"
                                            data-filter-value="Text">Text</a>
                                        <a class="dropdown-item f-d" href="#" data-filter-type="jenis"
                                            data-filter-value="Foto">Foto</a>
                                        <a class="dropdown-item f-d" href="#" data-filter-type="jenis"
                                            data-filter-value="Video">Video</a>
                                    </div>
                                    <div class="col">
                                        <a class="dropdown-item f-d" href="#" data-filter-type="jenis"
                                            data-filter-value="Server">Server</a>
                                        <a class="dropdown-item f-d" href="#" data-filter-type="jenis"
                                            data-filter-value="Pembayaran">Pembayaran</a>
                                        <a class="dropdown-item f-d" href="#" data-filter-type="jenis"
                                            data-filter-value="Teknis atau Mentor">Teknis/Mentor</a>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <form class="col" role="search">
                        <div class="d-flex">
                            <input class="form-control " type="search" placeholder="Cari Laporan" aria-label="Search"
                                id="search-input">
                            
                        </div>
                    </form>
                </div>
            </div>

            <div class="card shadow ">
                <div class="card-body" style="height: 66vh;">
                    <div class="content" style="max-height: 64vh; overflow-y: auto;">
                        <table class="table table-hover" id="data-table">
                            <thead style="position: sticky;top: 0;font-size: 10pt;">
                                <tr>
                                    <th>No</th>
                                    <th>Id</th>
                                    <th>Nama</th>
                                    <th>Kontak</th>
                                    <th>Tipe</th>
                                    <th>Tanggal</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody style="font-size: 8pt;">
                                {% for laporan in data %}
                                <tr class="data-item" style="cursor: pointer;" data-id="{{ laporan.id_person }}">
                                    <td style="border-radius: 10px 0 0 10px;">{{ loop.index }}</td>
                                    <td >{{ laporan.id_person }}</td>
                                    <td>{{ laporan.nama }}</td>
                                    <td>{{ laporan.no_wa }} | {{ laporan.id_discord }}</td>
                                    <td jenis="{{ laporan.jenis_l }}">{{ laporan.jenis_l }}</td>
                                    <td>{{ laporan.tanggal }}</td>
                                    <td style="border-radius: 0 10px 10px 0;">
                                        {% if laporan.status == 'Belum' %}
                                        <div status="belum">
                                            <span class="badge bg-danger p-1 px-2"><i class="fa-solid fa-arrow-up-right-from-square"></i> Belum </span>
                                        </div>
                                        {% else %}
                                        <div status="sudah">
                                            <span class="badge bg-success p-1 px-2"><i class="fa-regular fa-square-check fa-lg"></i> Sudah</span>
                                        </div>
                                        {% endif %}
                                    </td>
                                </tr>

                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card shadow" style="max-height: 84vh;">
            <div class="card bg-blue py-2 px-3">
                <span class="fs-6 fw-semibold text-white">Data Laporan</span>
            </div>
            <div class="content card-body " style="font-size: 10pt;max-height: 98%;overflow-y: auto;" id="detail-data" >
                {% include 'admin/temp/card-info.html' %}
            </div>
        </div>
    </div>
</div>