<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{url_for('static', filename='assets/imgs/favicon.ico')}}" type="image/x-icon">

    <meta property="og:title" content="Lapor LX from LearningX" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ url_for('static', filename='assets/imgs/bg.png')}}" />
    <link rel="shortcut icon" href="{{url_for('static', filename='assets/imgs/lx.png')}}" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <script src="{{ url_for('static', filename='main.js')}}"></script>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <title>{{ page }} | Lapor LearningX </title>

    <script>
        $(document).ready(function () {
            $("#search-input").on("keyup", function () {
                var searchTerm = $(this).val().toLowerCase();
                $("#data-table tbody tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(searchTerm) > -1);
                });
            });

            $("#search-type-report").on("keyup", function () {
                var searchTerm = $(this).val().toLowerCase();
                $("#data-report tbody tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(searchTerm) > -1);
                });
            });

            $('.f-d').on('click', function (e) {
                e.preventDefault();
                const filterType = $(this).data('filter-type');
                const filterValue = $(this).data('filter-value');
                filterData(filterType, filterValue);
            });

            function filterData(filterType, filterValue) {
                $('#data-table tbody tr').hide();

                if (filterType === 'status' && filterValue !== 'all') {
                    $(`#data-table tbody tr td:nth-child(7) div[status="${filterValue}"]`).each(function () {
                        $(this).closest('tr').show();
                    });
                } else if (filterType === 'jenis' && filterValue !== 'all') {
                    $(`#data-table tbody tr td[jenis="${filterValue}"]`).each(function () {
                        $(this).closest('tr').show();
                    });
                } else if (filterType === 'all') {
                    $('#data-table tbody tr').show();
                }
            }
            $(".data-item").click(function () {
                var id_person = $(this).data("id");
    
                $.ajax({
                    url: "/get_data/<key>/" + id_person,
                    type: "GET",
                    dataType: "html",
                    success: function (htmlData) {
    
                        $("#detail-data").html(htmlData);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
            
            function isElementInViewport(el) {
                var rect = el.getBoundingClientRect();
                return (
                    rect.top >= 0 &&
                    rect.left >= 0 &&
                    rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
                    rect.right <= (window.innerWidth || document.documentElement.clientWidth)
                );
            }

            function handleScroll() {
                document.querySelectorAll('.animate-element').forEach(function (element) {
                    if (isElementInViewport(element)) {
                        var animation = element.dataset.animation;
                        element.classList.add(animation);
                    }
                });
            }

            function handleIntersection(entries, observer) {
                entries.forEach(function (entry) {
                    if (entry.isIntersecting) {
                        var animation = entry.target.dataset.animation;
                        entry.target.classList.add(animation);
                        observer.unobserve(entry.target);
                    }
                });
            }

            var observer = new IntersectionObserver(handleIntersection, { threshold: 0.2 });

            document.querySelectorAll('.animate-element').forEach(function (element) {
                observer.observe(element);
            });

            window.addEventListener('scroll', handleScroll);
            window.addEventListener('resize', handleScroll);
            window.addEventListener('touchmove', handleScroll);
          
        });
    </script>
</head>

<body>
    {% if page == 'Dashboard' or page == 'Workspace' or page == 'Admin Access' %}

    <div class="mw-100" style="max-height: 100vh;height: 100vh;">
        <nav class="nav-h navbar navbar-expand-lg shadow sticky-top bg-body-tertiary">
            <div class="container-fluid">

                <a href="/" class="text-dark">
                    <img src="{{ url_for('static', filename='assets/imgs/learningx.png')}}" alt="" width="120">
                </a>
                <a class="text-dark d-md-none" type="button" data-bs-toggle="offcanvas" href="#offcanvasExample"
                    aria-controls="offcanvasExample">
                    <i class="fa-solid fa-bars fa-lg"></i>
                </a>

            </div>
        </nav>
        <div class="row w-100" style="max-height: 90%;height: 90%;">
            <div class="col-md-4 sticky-top offcanvas-lg offcanvas-start d-flex flex-column flex-shrink-0 sidebars h-100 shadow start-0"
                style="width: 240px;" tabindex="-1" id="offcanvasExample" data-bs-backdrop="false"
                aria-labelledby="offcanvasExampleLabel">
                <h1 class="pt-3" style="font-size: 10pt;">Lapor LX / <span class="fs-6">{{ page }}</span></h1>

                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="my-1">
                        <a style="font-size: 8pt;" href="{{ url_for('main.dashboard', key=key) }}"
                            class="nav-link {% if page == 'Dashboard' %}link-light active-page {% else %} nav-link-page link-dark{% endif %}">
                            <i class="fa-solid fa-chart-line me-2"></i>
                            Dashboard
                        </a>
                    </li>
                    <li class="my-1">
                        <a style="font-size: 8pt;" href="{{ url_for('main.workspace', key=key) }}"
                            class="nav-link {% if page == 'Workspace' %}link-light active-page {% else %} nav-link-page link-dark{% endif %}">
                            <i class="fa-solid fa-laptop-file me-2"></i>
                            Workspace
                        </a>
                    </li>
                    <hr>
                    <li class="my-1">
                        <a style="font-size: 8pt;" href="{{ url_for('main.admin_access', key=key) }}"
                            class="nav-link {% if page == 'Admin Access' %}link-light active-page {% else %} nav-link-page link-dark{% endif %}">
                            <i class="fa-solid fa-user me-2"></i></i>
                            Admin Access
                        </a>
                    </li>
                    
                </ul>

                <ul class="nav nav-pills flex-column ">
                    <li class="my-1">
                        <a style="font-size: 8pt;" href="/logout" class="nav-link nav-link-page link-dark">
                            <i class="fa-solid fa-arrow-right-from-bracket me-2"></i>
                            Log Out
                        </a>
                    </li>
                </ul>

                <hr>
                <div class="pb-2 d-flex justify-content-center">
                    <span style="font-size: 8pt;">Created by </span>
                    <img src="{{ url_for('static', filename='assets/imgs/abyssinian.png')}}" alt="" width="80">
                </div>
            </div>

            <div class="col content h-100" style="overflow-y: auto;">
                <div class="py-3 ps-3">
                    {% if page == 'Dashboard' %}
                    {% include 'admin/temp/dashboard.html' %}
                    {% elif page == 'Workspace' %}
                    {% include 'admin/temp/workspace.html' %}
                    {% elif page == 'Admin Access' %}
                    {% include 'admin/temp/admin-access.html' %}
                    {% endif %}
                </div>
            </div>

        </div>
    </div>

    {% else %}

    {% block body %}{% endblock %}

    {% endif %}
</body>

</html>